* {
    box-sizing: border-box !important;
    list-style: none;
    text-decoration: none !important;
}

.navbar {
    position: relative;
    z-index: 1;
}

.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../images/desktop/image-hero.jpg');
    position: relative;
}

.banner::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
}

.banner-p {
    margin-top: 150px;
    padding: 20px;
    font-size: 60px !important;
    text-align: left !important;
    line-height: 60px;
    z-index: 1;
    position: relative;
}

.intro {
    min-height: 900px;
}

.img-intro {
    margin-top: 150px;
}

.content {
    min-height: 1100px;
}

/* Content */

.sa {
    letter-spacing: 2px;
}

.c1 {
    width: 256px;
    height: 450px;
    background-image: url('../images/desktop/image-grid.jpg');
    position: relative;
}

.c1::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}

.c2 {
    width: 256px;
    height: 450px;
    background-image: url('../images/desktop/image-curiosity.jpg');
    position: relative;
}

.c2::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}

.c3 {
    width: 256px;
    height: 450px;
    background-image: url('../images/desktop/image-deep-earth.jpg');
    position: relative;
}

.c3::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}

.c4 {
    width: 256px;
    height: 450px;
    background-image: url('../images/desktop/image-fisheye.jpg');
    position: relative;
}

.c4::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}

.c5 {
    width: 256px;
    height: 450px;
    background-image: url('../images/desktop/image-night-arcade.jpg');
    position: relative;
}

.c5::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}

.c6 {
    width: 256px;
    height: 450px;
    background-image: url('../images/desktop/image-from-above.jpg');
    position: relative;
}

.c6::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}

.c7 {
    width: 256px;
    height: 450px;
    background-image: url('../images/desktop/image-soccer-team.jpg');
    position: relative;
}

.c7::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}


.c8 {
    width: 256px;
    height: 450px;
    background-image: url('../images/desktop/image-pocket-borealis.jpg');
    position: relative;
}

.c8::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}

.c-cap {
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    width: 150px;
    z-index: 1;
}

.c1 {
    background-image: url('../images/mobile/image-grid.jpg');
    width: 100%;
    height: 240px;
    background-size: cover;
}

.c2 {
    background-image: url('../images/mobile/image-curiosity.jpg');
    width: 100%;
    height: 240px;
    background-size: cover;
}

.c3 {
    background-image: url('../images/mobile/image-deep-earth.jpg');
    width: 100%;
    height: 240px;
    background-size: cover;
}

.c4 {
    background-image: url('../images/mobile/image-fisheye.jpg');
    width: 100%;
    height: 240px;
    background-size: cover;
}

.c5 {
    background-image: url('../images/mobile/image-night-arcade.jpg');
    width: 100%;
    height: 240px;
    background-size: cover;
}

.c6 {
    background-image: url('../images/mobile/image-from-above.jpg');
    width: 100%;
    height: 240px;
    background-size: cover;
}

.c7 {
    background-image: url('../images/mobile/image-soccer-team.jpg');
    width: 100%;
    height: 240px;
    background-size: cover;
}

.c8 {
    background-image: url('../images/mobile/image-pocket-borealis.jpg');
    width: 100%;
    height: 240px;
    background-size: cover;
}

/* Akhir Content */

footer {
    width: 100%;
    height: 50vh;
}
















/* Utility */
.fjs {
    font-family: 'Josefin Sans';
}


/* Desktop */
@media (min-width: 992px) {
    .navbar {
        padding-top: 25px !important;
    }

    .navbar-brand {
        color: white !important;
    }

    .nav-link {
        color: white !important;
    }

    .banner {
        margin-top: -75px;
        height: 650px;
    }

    .banner-p {
        width: 500px;
    }

    .card {
        margin-top: -350px;
        padding: 100px;
        margin-left: 550px;
        width: 50%;
        text-align: left;
    }

    .card-title {
        letter-spacing: 0;
    }

    .c1 {
        width: 256px;
        height: 450px;
        background-image: url('../images/desktop/image-grid.jpg');
        position: relative;
    }

    .c1::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }

    .c2 {
        width: 256px;
        height: 450px;
        background-image: url('../images/desktop/image-curiosity.jpg');
        position: relative;
    }

    .c2::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }

    .c3 {
        width: 256px;
        height: 450px;
        background-image: url('../images/desktop/image-deep-earth.jpg');
        position: relative;
    }

    .c3::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }

    .c4 {
        width: 256px;
        height: 450px;
        background-image: url('../images/desktop/image-fisheye.jpg');
        position: relative;
    }

    .c4::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }

    .c5 {
        width: 256px;
        height: 450px;
        background-image: url('../images/desktop/image-night-arcade.jpg');
        position: relative;
    }

    .c5::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }

    .c6 {
        width: 256px;
        height: 450px;
        background-image: url('../images/desktop/image-from-above.jpg');
        position: relative;
    }

    .c6::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }

    .c7 {
        width: 256px;
        height: 450px;
        background-image: url('../images/desktop/image-soccer-team.jpg');
        position: relative;
    }

    .c7::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }

    .c8 {
        width: 256px;
        height: 450px;
        background-image: url('../images/desktop/image-pocket-borealis.jpg');
        position: relative;
    }

    .c8::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }
}



/* Mobile */
@media (max-width: 576px) {

    .banner {
        background-image: url('../images/mobile/image-hero.jpg');
    }

    .banner-p {
        font-size: 50px !important;
    }

    .card {
        text-align: center;
        margin-top: 30px;
    }

    .card-title {
        font-size: 40px !important;
        letter-spacing: 4px;
    }

    .li-foot {
        width: 20px;
    }



}